@import 'base/variables';
@import 'base/mixins';

*{
    font-family: 'Museo', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
@import 'base/general';
@import 'blocks/titles';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/benefits';
@import 'blocks/media';


