.benefits {
    min-height: 470px;
    padding: 70px 0 78px 0;
    background-color: #f6f6f6;
    &__wrapper {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &__block {
        max-width: 250px;
        img {
            max-height: 70px;
            display: block;
            margin: 0 auto;
        }
    }
    &__subtitle {
        margin-top: 38px;
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
        text-align: center;
        color: #0d0d0d;
    }
    &__descr {
        margin-top: 26px;
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        text-align: center;
        color: #0d0d0d;
        a {
            color: #f00
        }
    }
}