.footer {
    min-height: 630px;
    position: relative;
    &__info {
        padding: 50px 68px 60px 68px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background-color: $main-color;
        
    }
    &__adress {
        margin-bottom: 36px;
        font-size: 20px;
        line-height: 20px;
        font-weight: 500;
        text-align: center;
        color: #fff;
    }
    &__phone {
        display: block;
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
        text-align: center;
        color: #fff;
        margin-bottom: 38px;
        text-decoration: none;
        &:hover {
            color: #fff;
        }
    }
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border: solid 2px #fff;
            border-radius: 100%;
            text-decoration: none;
            margin: 0 15px;
            span {
                color: #ffffff;
                font-size: 26px;
            }
            &:hover {
                border-width: 3px;
            }
        }
    }
}