.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url('../../img/bg/main_bg.png') center center/cover no-repeat;
    &__wrapper {
        margin-top: 91px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__header {
        font-size: 42px;
        line-height: 42px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
    }
    &__subheader {
        margin-top: 17px;
        font-size: 24px;
        line-height: 24px;
        font-weight: 500;
        color: #fff;
        text-transform: uppercase;
    }
    &__icons {
        margin-top: 66px;
        margin-right: 20px;
        width: 430px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        max-width: 110px;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        color: #fff;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__link {
        margin-top: 18px;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        a {
            color: #fff;
            text-transform: uppercase;
            text-decoration: underline;
        }
    }
}