.title {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    color: red;
    text-transform: uppercase;
    &_left {
        font-size: 36px;
        line-height: 36px;
        text-align: left;
        color: #fff;
    }
}